<section class='recipe-container'>

<div class="recipe--header">
<h1>Public Recipes</h1>

<div class="flex flex-col mx-6 mt-6 gap-12">
  <div class="w-full text-right pr-6">
    <%=form_with model: Recipe.new, url: new_recipe_path, method: :get do %>
      <button class="px-4 py-2 shadow-md shadow-black">Add recipe</button>
    <% end %>
  </div>
</div>
</div>

<div class="recipe--wrapper">
<% @public_recipe.each do |item| %>
  <%= link_to recipe_path(item[:recipe]) do %>
    <div class="recipe-box public">
    <div class="recipe-left">
    <h4><%= item[:recipe].name %></h4>
    <h6>by: <%= item[:recipe].user.name %></h6>
    </div>
    <div class="recipe-right">
    <h5>Total food items: <%= item[:foods_quantity] %></h5>
    <h5>Total price: <%= item[:price_total] %></h5>
    </div>
    </div>
  <%end%>
<%end%>
</div>
</section>