<section class='recipe-container'>

<div class="recipe--header">
<h2 class='text-4xl font-semibold font-serif my-6 text-center'>My Recipes</h2>

<div class="flex flex-col mx-6 mt-6 gap-12">
  <div class="w-full text-right pr-6">
    <%=form_with model: Recipe.new, url: new_recipe_path, method: :get do %>
      <button class='border px-2 py-1 rounded bg-green-400 hover:bg-green-200 w-fit font-medium text-white hover:text-green-800 cursor-pointer'>Add recipe</button>
    <% end %>
  </div>
</div>
</div>

<div class="recipe--wrapper">
<% @recipes.each do |recipe| %>
  <div class='border border-neutral-800 p-6 flex justify-between'>
  <div class='flex flex-col items-start'>
  <%= link_to recipe_path(recipe) do %>
    <h6 class='text-2xl font-bold'><%= recipe.name %></h6>
  <%end%>
  <%=form_with model: Recipe.new, url: recipe_path(recipe), method: :delete do %>
    <button class='border rounded bg-red-500 px-2 py-1 mt-2 hover:bg-red-200 hover:text-red-800'>remove</button>
  <%end%>
</div>
<div class='flex flex-col items-start '>
  <p>
    <%= recipe.description %>
  </p>
</div>
</div>
<%end%>
</div>
</section>