 <div class='flex flex-col item-center justify-center h-[70vh]'>
    <%= link_to "Back", url_for(:back), class:'border rounded bg-neutral-200 px-2 py-1 hover:bg-neutral-400 ' %>
  <div>
      <h2 class='text-5xl font-semibold font-serif my-12 text-center'>
        Shopping List
      </h2>

      <div class="flex justify-around">
        <div class="text-2xl font-semibold font-serif font-light">
            Amount of food items to buy: <%= @ingredient.length %>
        </div>
        <div class="text-2xl font-semibold font-serif font-light">
            Total value of food needed: $<%= @total_price.round(2) %>
        </div>
      </div>
  </div>
  <div>
      <table  class='table-auto w-full border border-slate-600 border-separate my-8'>
        <thead>
          <tr>
            <th class='border bg-neutral-200 border-slate-600'>Food</th>
            <th class='border bg-neutral-200 border-slate-600'>Quantity</th>
            <th class='border bg-neutral-200 border-slate-600'>Price</th>
          </tr>
        </thead>
        <tbody>
          <% if @ingredient.length === 0 %>
          <tr>
            <td colspan="4">No ingredients found</td>
          </tr>
          <% else %>
            <% @ingredient.each do |ing| %>
              <tr class="text-center">
                <td class='border border-slate-600'><%= ing.food.food %></td>
                <td class='border border-slate-600'><%= ing.quantity %> <%= ing.food.measurement_unit %></td>
                <td class='border border-slate-600'>$<%= (ing.food.unit_price * ing.quantity).round(2) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>