<%= form_with( url: "/recipe_foods/#{recipe_food.recipe_id}", method: :post) do |form| %>
  <div class='mt-4'>
    <%= form.label :food_id, style: "display: block", class:'font-semibold text-xl mb-4' %>
    <span class="border px-2 py-2">
      <%= form.collection_select :food_id, Food.where(user_id: current_user.id).order(:food), :id, :food %>
    </span>
  </div>
  
  <div class='mt-4'>
    <%= form.label :quantity, style: "display: block", class:'font-semibold text-xl' %>
    <%= form.number_field :quantity, class:'border px-2 py-1 rounded-md mt-2' %>
  </div>

  <div class='mt-4'>
    <%= form.submit 'Add Ingredient', class:'border px-2 py-1 rounded bg-green-400 hover:bg-green-200 w-fit font-medium text-white hover:text-green-800 cursor-pointer'%>
  </div>
<% end %>