<!DOCTYPE html>
<html>
  <head>
    <title>ReceipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <body class='flex flex-col items-center'>

    <div class='w-full'><%= render 'layouts/header' %></div>
    <% if notice %>
      <p class="bg-green-200 border border-green-800 text-green-800 rounded-md px-6 py-2 my-4 w-4/5"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="bg-red-200 border border-red-800 text-red-800 rounded-md px-6 py-2 my-4 w-4/5"><%= alert %></p>
    <% end %>
    <div class='w-4/5'>
      <%= yield %>
    </div>
  </body>
</html>
